/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F0F2; /* Soft pastel background */
    color: #5f4b66;
    line-height: 1.6;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: #f2d2d2;
    color: #5f4b66;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-weight: 500;
}

/* Section for the scan button and information */
.container {
    background-color: #fff3f3;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

#scanButton {
    padding: 12px 25px;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #e6a6b9;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scanButton:hover {
    background-color: #f1d0d6;
    transform: scale(1.05);
}

#preview {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-box {
    margin-top: 25px;
    background-color: #f7d2e0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.info-box h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.info-box p {
    font-size: 1.1em;
    margin: 5px 0;
}

/* Footer */
footer {
    margin-top: 40px;
    padding: 15px;
    background-color: #f2d2d2;
    color: #5f4b66;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    border-top: 3px solid #5f4b66;
}

/* Mobile Responsive */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 90%;
        padding: 25px;
    }

    #scanButton {
        font-size: 1em;
        padding: 10px 20px;
    }
}